@charset "utf-8";
.nav_info { background-image:url(../images/nav_info_bg.png); background-repeat:no-repeat; width:219px; height:420px; display:block; position:absolute; top:36px; right:0; *_width:211px; }
.nav_info02 { display:none;}
.headNav .navCon .navCon-cate .cateMenu li{ width:220px;overflow:hidden; }
.headNav .navCon .navCon-cate .cateMenu li .cate-tag{  overflow:hidden; display:block; height:100%;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag strong{ height:25px; line-height:25px;  display:block; text-indent:0px; background-repeat:no-repeat; background-position:right; display:block; padding:0 0 0 10px; margin-top:10px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag strong a{ font-size:15px; font-weight:bold; color:#36c;  font-family:"微软雅黑"; padding-left:30px; display:block;}
.dt_title01 a { background-image:url(../images/icon01.png); *_background-image:url(../images/icon01_3.gif); background-repeat:no-repeat; background-position:-6px -4px;}
.dt_title02 a { background-image:url(../images/icon01.png); background-repeat:no-repeat; background-position:-6px -124px;}
.dt_title03 a { background-image:url(../images/icon01.png); *_background-image:url(../images/icon01_3.gif); background-repeat:no-repeat; background-position:-6px -223px;}
.dt_title04 a { background-image:url(../images/icon01.png); background-repeat:no-repeat; background-position:-6px -342px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel{text-indent:0px; }
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel p{ font-size:12px; font-weight:normal; line-height:25px; float:left; width:75px; display:inline;  background-repeat:no-repeat; background-position:0 9px; padding-left:10px; margin-left:10px; height:25px; overflow:hidden; margin-top:0;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel p a { font-size:12px; font-weight: normal; line-height:20px; color:#666666; font-family:"微软雅黑"; padding:0 0 0 20px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel p a:hover { color:#ff7800;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag { background-color:#58c;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag .listModel a{ color:#fff;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag .listModel a:hover { color:#FFF;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong a { color:#fff;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong a:hover { color:#FFF;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong.dt_title01 a { background-image:url(../images/icon01_1.png); *_background-image:url(../images/icon01_2.gif); background-repeat:no-repeat; background-position:-6px -4px;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong.dt_title02 a { background-image:url(../images/icon01_1.png); *_background-image:url(../images/icon01_2.gif);background-repeat:no-repeat; background-position:-6px -124px;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong.dt_title03 a { background-image:url(../images/icon01_1.png); *_background-image:url(../images/icon01_2.gif);background-repeat:no-repeat; background-position:-6px -223px;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong.dt_title04 a { background-image:url(../images/icon01_1.png); *_background-image:url(../images/icon01_2.gif);background-repeat:no-repeat; background-position:-6px -342px;}
.headNav .navCon .navCon-cate .cateMenu .list-item{ width:800px; border:1px solid #e6e6e6;  background:#FFFFFF; box-shadow:-2px 3px 5px rgba(0, 0, 0, 0.5); position:absolute; right:219px; top:0; background-image:url(../images/bg.gif); background-repeat:repeat-y; background-position:left; }
.headNav .navCon .navCon-cate .cateMenu .hide02 { width:787px;}
.headNav .navCon .navCon-cate .cateMenu .list-item h2 { font-size:16px; font-weight:bold; color:#333333;  padding:15px 35px 0 35px; font-family:"微软雅黑";}
.headNav .navCon .navCon-cate .cateMenu .list-item h2 a { font-size:12px; font-weight:normal; color:#666; float:right;}
.headNav .navCon .navCon-cate .cateMenu .list-item h2 a:hover { color:#ff7800;}
.hide_main01 { height:372px; overflow:hidden; background-image:url(../images/hide_main01_bg.jpg); background-repeat:no-repeat; background-position:bottom right; }
.blk001 { width:215px; float:left; display:inline; margin-left:40px; height:130px; overflow: hidden;}
.blk001 h3 { font-size:14px; font-weight:bold;  line-height:36px; border-bottom:3px solid #efefef;  padding:0 0 0 15px;}
.blk001 h3 a { color:#36c; font-family:"微软雅黑";}
.blk001 h3 a:hover { color:#ff7800;}
.blk001 .blk001_main { overflow:hidden; padding:5px 0;}
.blk001 .blk001_main p { overflow:hidden;}
.blk001 .blk001_main p a {font-size:12px; font-weight:normal; color:#333; font-family:"微软雅黑"; padding:0 0 0 15px; display:inline-block;line-height:24px; float:left;}
.blk001 .blk001_main p a:hover { color:#ff7800;}

.hide_main02 { height:260px; overflow:hidden; *_height:372px; background-image:url(../images/hide_main01_bg02.jpg); background-repeat:no-repeat; background-position:bottom right;}
.hide_main02_ie6 { height:280px;}
.blk002 { width:215px; float:left; display:inline; margin-left:40px; overflow: hidden;}
.blk002 h3 { font-size:14px; font-weight:bold;  line-height:36px; border-bottom:3px solid #efefef;  padding:0 0 0 15px;}
.blk002 h3 a { color:#36c; font-family:"微软雅黑";}
.blk002 h3 a:hover { color:#ff7800;}
.blk002 .blk002_main { overflow:hidden; padding:5px 0;}
.blk002 .blk002_main dl { overflow:hidden; height:100px; border-bottom:1px dotted #CCC; margin-bottom:10px; padding:5px 15px 0 15px;}
.blk002 .blk002_main dl dt { font-size:12px; font-weight: bold; line-height:18px;}
.blk002 .blk002_main dl dt a { font-family:"微软雅黑"; color:#333333;}
.blk002 .blk002_main dl dt a:hover { color:#ff7800;}
.blk002 .blk002_main dd p { font-size:12px; font-weight:normal; line-height:20px; font-family:"微软雅黑"; color:#333;}
.blk002 .blk002_main dd p img { width:12px; height:12px; display:inline-block; vertical-align:middle; margin-left:1px;}

.hide_main03 { height:200px; *_height:372px; overflow:hidden; background-image:url(../images/hide_main01_bg03.jpg); background-repeat:no-repeat; background-position:top left;}
.hide_main03_ie6 { height:200px;}
.blk003 { width:175px; float:left; display:inline; margin-left:20px; overflow: hidden; height:200px; position:relative;}
.blk003 h3 { font-size:14px; font-weight:bold;  line-height:36px; border-bottom:3px solid #efefef;  padding:0 0 0 5px;}
.blk003 h3 a { color:#ff7800; font-family:"微软雅黑";}
.blk003 h3 a:hover { color:#ff7800;}
.blk003 .blk003_main { overflow:hidden; padding:5px 0;}
.blk003 .blk003_main p { display:block; padding:5px 0 5px 0; font-size:12px; font-weight:normal; line-height:25px; color:#333333; font-family:"微软雅黑";}
.blk003 .blk003_main p a { width:80px; float:left; display:inline; line-height:25px;  color:#333333; padding:0 0 0 7px; background-image:url(../images/icon01.jpg); background-repeat:no-repeat; background-position:left;}
.blk003 .blk003_main p a:hover { color:#ff7800;}
.blk003 a.more02 { font-size:12px; background-color:#ff7800; color:#FFF; position:absolute; bottom:13px; right:13px; font-family:"微软雅黑"; font-weight:normal; padding:0 5px; line-height:18px;}
.blk003 a.more02:hover { color:#fff; text-decoration:none;}

.hide_main04 { height:272px; *_height:372px; overflow:hidden; background-image:url(../images/hide_main01_bg04.jpg); background-repeat:no-repeat; background-position:bottom right;}
.hide_main04_ie6 { height:272px;}
.blk004 { width:215px; float:left; display:inline; margin-left:40px; height:130px; overflow: hidden;}
.blk004 h3 { font-size:14px; font-weight:bold;  line-height:36px; border-bottom:3px solid #efefef;  padding:0 0 0 15px;}
.blk004 h3 a { color:#36c; font-family:"微软雅黑";}
.blk004 h3 a:hover { color:#ff7800;}
.blk004 .blk001_main { overflow:hidden; padding:5px 0;}
.blk004 .blk001_main p { font-size:12px; font-weight:normal; color:#333; font-family:"微软雅黑"; line-height:20px; padding:0 15px;}
.blk004 .blk001_main p a { color:#36c;}
.blk004 .blk001_main p a:hover { color:#ff7800;}

.headNav .navCon .navCon-cate .cateMenu .hide02 .blk001 { margin-left:35px;}
.headNav .navCon .navCon-cate .cateMenu .hide02 .blk002 { margin-left:35px;}
.headNav .navCon .navCon-cate .cateMenu .hide02 .blk003 { margin-left:17px;}
.headNav .navCon .navCon-cate .cateMenu .hide02 .blk004 { margin-left:35px;}


/*-- flash --*/
#flash { width:100%;height:420px; margin:0 auto;clear: both;padding: 0px 0px; }
#flash a { width:100%;height:420px;margin:0 auto; display:block; background-position:center;}

.flash_bar { text-align:center;  width:90px; margin:0 auto; height:16px; margin-top:-25px; position:relative; z-index:99997;}
.flash_bar .dq { display:block; float:left; margin-right:2px;width:16px;height:16px;cursor: pointer;overflow:hidden; width:15px; height:15px; background:#36c; border-radius:50%; margin:0 5px;}
.flash_bar .no { display:block; float:left; margin-right:2px;width:16px;height:16px;cursor: pointer;overflow:hidden; width:15px; height:15px; background:#999; border-radius:50%;margin:0 5px;}
.banner_ad { width:1210px; height:10px; margin:0 auto; position:relative; top:-420px;}
.banner_ad_box { width:190px; height:399px; position:absolute; top:20px; right:5px;}
.banner_ad_box a { display:block; height:133px; overflow:hidden; }
.banner_ad_box a.floor-maskItem  { position:absolute;}
.mask {
	POSITION: absolute; FILTER: alpha(opacity=0); WIDTH: 190px; BACKGROUND: #000; HEIGHT: 133px; TOP: 0px; LEFT: 0px; opacity: 0
}
.hover .mask {
	FILTER: alpha(opacity=50); BACKGROUND: #000; CURSOR: pointer; opacity: 0.1
}
.hover .qq .mask {
	FILTER: alpha(opacity=0); opacity: 0
}

/*分页start*/
.page_off { 	font-size: 12px; 	color: #999999; 	border: 1px solid #DDDDDD; 	padding-right: 10px; 	padding-left: 10px }
.page_on { 	font-size: 12px; 	font-weight: bold; 	color: #2E6AB1; 	border: 1px solid #9AAFE5; 	padding-right: 10px; 	padding-left: 10px }
.page_on_t { 	font-size: 12px; 	font-weight: bold; 	color: #2E6AB1; }
A.page_on_t:link { 	font-size: 12px; 	font-weight: bold; 	color: #2E6AB1; 	TEXT-DECORATION: none }
A.page_on_t:visited { 	font-size: 12px; 	font-weight: bold; 	color: #2E6AB1; 	TEXT-DECORATION: none }
A.page_on_t:hover { 	font-size: 12px; 	font-weight: bold; 	color: #000000; 	TEXT-DECORATION: none }
.page_num { 	font-size: 12px; 	font-weight: normal; 	color: #2E6AB1; 	border: 1px solid #9AAFE5; 	padding-right: 6px; 	padding-left: 6px }
.page_num_t { 	font-size: 12px; 	font-weight: normal; 	color: #2E6AB1; }
A.page_num_t:link { 	font-size: 12px; 	font-weight: normal; 	color: #2E6AB1; 	TEXT-DECORATION: none }
A.page_num_t:visited { 	font-size: 12px; 	font-weight: normal; 	color: #2E6AB1; 	TEXT-DECORATION: none }
A.page_num_t:hover { 	font-size: 12px; 	font-weight: normal; 	color: #000000; 	TEXT-DECORATION: none }
.page_omit { 	font-size: 12px; 	font-weight: bold; 	color: #000000; 	padding-right: 6px; 	padding-left: 6px }
.page_current { 	font-size: 12px; 	font-weight: bold; 	color: #FFFFFF; 	border: 1px #2E6AB1 solid; 	background-color: #2E6AB1; 	padding-right: 6px; 	padding-left: 6px }
/*分页end*/

@charset "utf-8";
/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.dst14 dt { border:1px solid #e6e6e6; width:300px; height:300px; overflow:hidden;}  
.dst14 dt a{ margin: 0 auto; margin-left:32px; display:block; }
.dst14 dt img { width:233px; height:300px; }
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    width: 305px;
    height:56px;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width:352px;
	overflow:hidden;
}

/* single scrollable item */
.scrollable img {
    float:left;
    margin:0 2px;
    width:55px;
    height:55px; display:inline;
    border:1px solid #E0E0E0;
}


/* active item */
.scrollable .active {
    border:1px solid #ff7800;
    position:relative;
    cursor:default;
}

.table_padding_5 td{ padding:5px;}
.table_padding_6 td{ padding:6px;}
.t14{ font-size:14px; }
.t14_red { font-size: 14px; line-height: 150%; font-weight: bold; color: #c00; }
.t12_red { font-size:12px; color:#f00; }
.buttonSkinA{background: #58c; border: 0; color: #fff; width: 90px; height: 28px; font-size: 14px; font-family: "微软雅黑";}

.img_border{
	border:1px solid #d6d6d6;
	}
	
	
	.input_calendar {
	background-image: url(../images/icon_calendar.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	width: 100px;
}
	
/**会员中心右侧具体内容**/
.mem_content { border:1px solid #e0e0e0;}
.mem_content h2 { background-image:url(../images/title_bg05.jpg); background-repeat:repeat-x; height:33px;}
.mem_content h2 span { display:block; float:left;  height:33px;  background-image:url(../images/title_bg07.jpg); background-repeat:repeat-x; background-position:left;}
.mem_content h2 span strong { display:block; float:left; height:33px; line-height:33px; color:#fff;  font-size:14px; font-weight:bold;  padding:0 32px; font-family:"微软雅黑"; font-weight:bold;}
.mem_content .main { padding:20px;}

.memorder_date { background-color:#f1f1f1; border:1px solid #dddddd; padding:5px 5px 5px 8px; width:723px;}
.memorder_date .input08 { width:120px; margin-right:10px;}
.memorder_date .input09 { width:216px; margin-right:10px;}
.memorder_date .input10 { background-image:url(../images/buttom_bg01.jpg); background-repeat:no-repeat; width:36px; height:20px; border:0; padding:0; cursor:pointer;  background:#58c; color:#fff;}
.memorder_info { background-image:url(../images/num_bg.jpg); background-repeat:repeat-x; height:31px; border-left:1px solid #dddddd; border-right:1px solid #dddddd; overflow:hidden;}
.memorder_info ul li { font-size:12px; font-weight:normal; line-height:31px; float:left; display:inline; color:#666; text-align:center; height:31px; overflow:hidden;}
.memorder_table table { background-color:#e9e9e9;}
.memorder_table table td { font-size:12px; font-weight:normal; line-height:20px; text-align:center; background-color:#FFF; padding:10px 0; font-family:"微软雅黑"; vertical-align:middle;}
.memorder_table table td a { color:#165c92; display:block;}
.memorder_table table td a:hover { color:#622b28;}
.memorder_table table td span { display:block;}
.memorder_table table td img { float:left;width:50px; height:50px; border:1px solid #CCC; margin:0 auto;display:inline;border:1px solid #CCC;}

.memorder_table table td span a:hover { color:#622b28;}
.memorder_table .num_box { text-align:right; margin-top:15px;}
.memorder_table .num_box a { font-size:12px; font-weight:normal; line-height:20px; color:#666; border:1px solid #e9e9e9; padding:0 7px; margin-left:5px; display:inline-block;}
.memorder_table .num_box a:hover { color:#622b28;}

/*评价*/
 table.pingjia td{border-bottom:1px solid #dadada;  font-size:12px; }
 table.pingjia a{color:#666666; text-decoration:none;}
 table.pingjia a.zj{color:#ff9900; text-decoration:none;}
 table.pingjia  td.mei{border-bottom:none;}
 
 
 .zkw_title21 { height:25px; overflow:hidden;}
.zkw_lst31 li { font-size:12px; font-weight:normal; line-height:25px; float:left; display:inline; background-color:#ececec; margin-right:5px; color:#333; padding:0 10px;}
.zkw_lst31 li a { color:#333;}
.zkw_lst31 li a:hover{ color:#333;}
.zkw_lst31 li.on { color:#FFF; font-weight:bold; background-color:#58c;}
.zkw_lst31 li.on a{ color:#FFF; font-weight:bold;}
.zkw_lst31 li.on a:hover{ color:#FFF; font-weight:bold;}

.zkw_lst33 li { float:left; display:inline; margin-left:5px;margin-top:5px;}
.zkw_lst33 li img { width:50px; height:50px; border:1px solid #CCC;}